.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-width: 100%;
}

span {
    opacity: 75%;
    white-space: pre;
    overflow: scroll;
    max-height: 200px;
    max-width: 70%;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    color: gray;
}

header {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}


.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}