:host {
    position: absolute;
    background-color: white;
    border: 3px solid black;
    top: 70px;
    z-index: 50;
    right: 0;
    width: 200px;
}

ul {
    max-height: 100px;
    max-width: 200px;
    li:not(:last-child) {
		border-bottom: 1px dashed black;
    }

	li {
		margin: 10px;
	}
}