:host {
	position: absolute;
	top: 70px;
	z-index: 50;
	right: 0;
	width: 200px;
	color: white;
}

ul {
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 200px;
	li:not(:last-child) {
		border-bottom: 1px dashed rgba(255,255,255,0.4);
	}

	li {
		margin: 10px;
	}
}
