:host {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.glass.container {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}


.password-container mat-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
}

label {
	color: #00BABC;
	font-weight: bold;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	align-content: center;
	width: 100%;
}

.ft-btn-login {
	background-color: #00BABC;
	border: none;
	min-width: 150px;
	min-height: 60px;
	height: 30px;
	padding: 10px 15px;
	margin-top: 30px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		font-size: 1.3em;
		color: white;
	}

	&:hover:not(:disabled) {
		cursor: pointer;
		filter: brightness(80%);
	}
}

.ft-btn-login img {
	height: 30px;
	padding-right: 15px;
}
