<div class="glass container">
	<form [formGroup]="loginForm">
		<input
			type="text"
			formControlName="nickname"
			placeholder="User name"
			[required]="true"
		/>
		<div class="password-container">
			<input id="password"
				type="password"
				formControlName="pass"
				placeholder="User password"
				[required]="true"
			/>
			<input
				type="checkbox"
				class="show-pass"
				formControlName="show_pass"
			/>
		</div>
		<input class="toggle-btn"
			type="checkbox"
			formControlName="login"
		/>
		<button
			(click)="doAction()"
			[disabled]="!loginForm.valid"
		>
			DO_ACTION
		</button>
	</form>
	<button class="ft-btn-login"(click)="SignIn()" [disabled]="!isButtonClickable">
		<div class="btn-content" *ngIf="isButtonClickable">
			<img src="./assets/img/42-logo.png" alt="42 logo">
			<span>Log In 42</span>
		</div>
		<span *ngIf="!isButtonClickable" id="message">Please wait...</span>
	</button>
</div>
