button {
	background-color: #00BABC;
	border: none;
	min-width: 150px;
	min-height: 60px;
	position: relative;
	top: 50%;
	left: 50%;
	height: 30px;
	padding: 10px 15px;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		font-size: 1.3em;
		color: white;
	}

	&:hover:not(:disabled) {
		cursor: pointer;
		filter: brightness(80%);
	}
}

button img {
	height: 30px;
}
