# never, ever push .env file. never.
.env
rsc/postman/test_db/.tok

# downloaded thing
*.tar.gz

# shared folder
volume

# NodeJS .gitignore
src/**/dist
src/**/node_modules
src/**/.angular/cache
src/nestjs/coverage
cl
# vscode folder
.vscode
src/nestjs/logs/angular.err
