.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
  margin: auto;
}

.page_404 img {
  width: 50%;
  margin: auto;
}

.four_zero_four_bg {
  background-image: url(/assets/errors/404.gif);
  height: 400px;
  width: 50%;
  margin: auto;
  background-position: center;
}

.four_zero_four_bg h1 {
  text-align: center;
  font-size: 80px;
}

.four_zero_four_bg h3 {
  text-align: center;
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
  margin: auto;
}
.content_box_404 {
  width: 50%;
  margin: auto;
  margin-top: -50px;
  text-align: center;
}

