<div class="side-bar">
	<div *ngIf="isCreatingRoom" class="popup">
		<ul class="friend-list">
			<li *ngFor="let friend of privChatService.getFriends();">
				<button (click)="onCreateFriend(friend)">{{userService.getUserInfoFormated(friend.user_info)}}</button>
			</li>
			<button class="close" (click)="onClosePopup()">
				<mat-icon fontIcon="close"></mat-icon>
			</button>
		</ul>
	</div>
	<ul class="room-list">
		<li *ngFor="let friend of privChatService.getPrivateRoom();">
			<button (click)="onSelectFriend(friend)">{{userService.getUserInfoFormated(friend.user_info)}}</button>
		</li>
	</ul>
	<app-flat-button bgColor="#a7dca3" fontIcon="add" (click)="onCreatingRoom()"></app-flat-button>
</div>

<div *ngIf="privChatService.isGoodSelectedFriendRoom()" class="chat-container">
	<h2 routerLink="/profile/{{privChatService.getSelectedFriend().user_info.ftLogin}}">{{userService.getUserInfoFormated(privChatService.getSelectedFriend().user_info)}}</h2>

	<ol class="msg-list">
		<li *ngFor="let _ of privChatService.getSelectedFriendRoom().message; let i=index;" [ngClass]="{'me': privChatService.getCurrentMessage(i).userId === privChatService.getCurrentUser().id, 'same': isSameUser(i)}">
			<div class="title-line">
				<span class="date" *ngIf="!isFollowingDay(i)">{{privChatService.getCurrentMessage(i).updateAt | date: 'dd/MM/YYYY'}}</span>
				<span class="login" *ngIf="!isSameUser(i)">{{privChatService.getCurrentMessageUser(i)}}</span>
			</div>
			<div class="msg-line">
				<span class="content">{{privChatService.getCurrentMessage(i).content}}</span>
				<span class="time">{{privChatService.getCurrentMessage(i).updateAt | date: 'HH:mm'}}</span>
			</div>
		</li>
	</ol>
	<div class="txt-bar">
		<input [(ngModel)]="message" type="text" placeholder="Enter a message..." (keypress)="onPress($event)">
		<button (click)="sendMessage()">
			<mat-icon fontIcon="send"></mat-icon>
		</button>
	</div>
</div>
<app-flat-button class="refresh" bgColor="#ffb1b1" fontIcon="refresh" (click)="onGetInfo()"></app-flat-button>
