#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#qrcode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#notice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
