code-input {
    --item-height: 3em;
	  --item-spacing: 10px;
    --item-border: 2px solid #888888;
    --item-border-bottom: 2px solid #888888;
    --item-border-has-value: 2px solid #dddddd;
    --item-border-bottom-has-value: 2px solid #dddddd;
    --item-border-focused: 2px solid #00BABC;
    --item-border-bottom-focused: 2px solid #00BABC;
    --item-shadow-focused: none;
    --item-border-radius: 5px;
    --color: white;
    width: 250px;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#qrcode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#notice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
}
