:host {
	--bg-color: 255, 255, 255;
	--color: white;
}

button {
	width: 50px;
	aspect-ratio: 1;
	border: 1px solid rgba(255,255,255,0.4);
	background: rgba(var(--bg-color), 0.3);
	color: var(--color);
	border-radius: 10px;
	backdrop-filter: blur(10px);
	cursor: pointer;
}

button.true, button:hover {
	background: rgba(var(--bg-color), 0.6);
}

button.true {
	cursor: default;
}