:host {
	--bg-color: 90, 90, 90;
	--color: white;
}

button {
	width: 50px;
	aspect-ratio: 1;
	border: 1px solid rgba(90,90,90,0.4);
	background: rgba(var(--bg-color), 0.3);
	color: var(--color);
	border-radius: 10px;
	backdrop-filter: blur(10px);
	cursor: pointer;
	transition: background .2s linear;
}

button.true, button:hover {
	background: rgba(var(--bg-color), 0.6);
}

button:disabled {
	cursor: default;
}