<ol>
    <!-- <li *ngFor="let i = 0; chatChannelService.getSelectedRoom().message.length; let i = index"

    ></li> -->
    <li class="me">
        <div class="title-line">
            <span class="date">dd/MM/YYYY</span>
            <span class="login">ftLogin</span>
        </div>
        <div class="msg-line">
            <span class="content">content</span>
            <span class="time">HH:mm</span>
        </div>
    </li>
    <li >
        <div class="title-line">
            <span class="login">ftLogin</span>
        </div>
        <div class="msg-line">
            <span class="content">content</span>
            <span class="time">HH:mm</span>
        </div>
    </li>
    <!-- <li> Coucou from KOALA</li>
    <li class="same"> Second Coucou from KOALA</li> -->
</ol>
<input type="text" placeholder="Type something ... ">
