<h2 mat-dialog-title>Game Options</h2>
<div mat-dialog-content>
    <form>
        <mat-form-field [class.cdk-visually-hidden]="true">
            <input matInput [(ngModel)]="data.type" name="type">
        </mat-form-field>
        <mat-checkbox [(ngModel)]="data.powerUps" name="powerUps" ngDefaultControl>Enable Power-Ups</mat-checkbox>
        <br />
        <mat-form-field>
            <mat-label>Map</mat-label>
            <mat-select [(ngModel)]="data.map" name="map" required>
                <mat-option *ngFor="let map of maps" [value]="map.name">
                    <img [src]="map.thumbnail" alt="{{map.name}} thumbnail" width="50" height="50">
                    {{map.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>