:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mat-mdc-dialog-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
}

mat-form-field{
    width: 17vw;
}

mat-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
mat-option img {
    margin-right: 10px;
  }