<ul appResizable>
	<ng-container *ngFor="let friend of chatDmService.getFriendsRoom();">
		<li class="glass" *ngIf="!friendService.isTargetBlocked(friend.user_info.id)" >
			<button appTooltip [user]="friend.user_info"  (click)="onSelectFriend(friend)">
				<span>{{userService.getUserInfoFormated(friend.user_info)}}</span>
			</button>
		</li>
	</ng-container>
	<ng-container *ngFor="let friend of chatDmService.getFriendsRoom();">
		<li class="glass blocked" *ngIf="friendService.isTargetBlocked(friend.user_info.id)" >
			<button appTooltip [user]="friend.user_info" (click)="onSelectFriend(friend)">
				<span>{{userService.getUserInfoFormated(friend.user_info)}}</span>
			</button>
		</li>
	</ng-container>
	<li class="newRoomBtn">
		<app-flat-button *ngIf="chatDmService.getFriends().length" fontIcon="add" (click)="onNewRoom()"></app-flat-button>
	</li>
</ul>

<app-chat-view *ngIf="chatDmService.isGoodSelectedRoom() " [blocked]="friendService.isMeBlocked(chatDmService.getSelectedDm().user_info.id)" [room]="chatDmService.getSelectedDm().room" (sendMessageEmitter)="sendMessage($event)">
</app-chat-view>
