:host {
	display: flex;
	height: 100%;
	gap: 0.75em;
}

ul {
	height: 100%;
	max-width: 50%;
	min-width: fit-content;
	position: relative;
    min-width: 10em;

	li {
		width: 100%;

		button {
			width: 100%;
			font-size: 1em;
			color: white;
			cursor: pointer;
			padding: .6em 1em;
			text-align: left;

			&:active {
				color: rgb(186, 186, 186);
			}
		}
	}

}

app-chat-view {
	flex: auto;
	min-width: 20%;
}
