/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background-color: #424242;
	font-family: 'Maven Pro', sans-serif;
}

app-root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.flat-btn {
	border: 3px solid black;
	background-color: white;
	color: black;
	width: 50px;
	height: 50px;
	box-shadow: 5px 5px;
	cursor: pointer;
	text-align: center;
	padding: 0;

	&:hover {
		box-shadow: 0 0;
		transform: translate(5px, 5px);
	}
}


ul {
	padding: 0;
	margin: 0;
	list-style: none;
}