@use "@angular/material" as mat;

@import "@angular/material/theming";

@include mat.core();

$angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');

* {
	font-family: 'Maven Pro', sans-serif;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(6,6,89,1) 100%);
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.custom-dialog {
	.mat-mdc-dialog-surface.mat-mdc-dialog-surface{
		border-radius: 0 ;
		border: 3px solid black;
		padding: 20px;
	}
}


.notification > div {
    background-color: #001509; 
	color: white;
    border: 3px solid white;
	margin-top: 10px;
	padding: 10px;
	width: 180px;
	border: 1px solid rgba(90,90,90,0.4);
	background: rgba(90, 90, 90, 0.3);
	border-radius: 10px;
	backdrop-filter: blur(10px);
}

.glass {
	border: 1px solid rgba(90,90,90,0.4);
	background: rgba(90, 90, 90, 0.3);
	border-radius: 10px;
	backdrop-filter: blur(10px);
}

.solid {
	background-color: rgba($color: #383838, $alpha: 1.0);
	border-radius: 10px;
}