/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');
html,
body {
	height: 100%;
}

body {
	margin: 0;
	background-color: #424242;
	font-family: 'Maven Pro', sans-serif;
}

app-root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}