.container{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	// padding: 20px;
	border: 1px solid #e7e7e7;
	// border-radius: 5px;
	box-shadow: 0 0 10px #e7e7e7;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	form {
		width: 90%;
		.mat-mdc-card {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: white;
			width: 100%;
			background-color: inherit;
		}
	}
}
