<header>
	<h1>Transcendance</h1>
	
	<ul>
		<li routerLink="/home"
		routerLinkActive="active">
			<button>
				<mat-icon fontIcon="home"></mat-icon>
			</button>
		</li>
		<li *ngIf="userLoggedIn"
		routerLink="/play"
		routerLinkActive="active">
			<button>
				<mat-icon fontIcon="games"></mat-icon>
			</button>
		</li>
		<li *ngIf="userLoggedIn"
		routerLink="/chat"
		routerLinkActive="active">
			<button>
				<mat-icon fontIcon="message"></mat-icon>
			</button>
		</li>
		<li *ngIf="userLoggedIn"
		routerLink="/profile"
		routerLinkActive="active">
			<button>
				<mat-icon fontIcon="account_circle"></mat-icon>
			</button>
		</li>
		<li
		*ngIf="userLoggedIn"
		(click)="SignOut()"
		class="logout">
			<button>
				<mat-icon fontIcon="power_settings_new"></mat-icon>
			</button>
		</li>
	</ul>
</header>
