<header>
	<h1 routerLink="/home">Transcendance</h1>
	<button ngClass="{{isExpand}}" (click)="isExpand = !isExpand" *ngIf="isSmallDevice()" class="expand-btn">
		<mat-icon fontIcon="expand_more"></mat-icon>
	</button>
	<ul (window:resize)="onResize()" [ngClass]="{'small-device': isSmallDevice(), 'expand': isExpand}" *ngIf="isExpand || !isSmallDevice()" [@enterAnimation]="isSmallDevice()">
		<li routerLink="/home"
			routerLinkActive #rla="routerLinkActive">
			<app-flat-button [isActive]="rla.isActive" color="white" bgColor="#a3d0dc" fontIcon="home"></app-flat-button>
		</li>
		<li *ngIf="userLoggedIn"
			routerLink="/play"
			routerLinkActive #rla="routerLinkActive">
			<app-flat-button [isActive]="rla.isActive" color="white" bgColor="#a3d0dc" fontIcon="games"></app-flat-button>
		</li>
		<li *ngIf="userLoggedIn"
		routerLink="/chat/dm"
		routerLinkActive #rla="routerLinkActive">
			<app-flat-button [isActive]="rla.isActive" color="white" bgColor="#a3d0dc" fontIcon="message"></app-flat-button>
		</li>
		<li *ngIf="userLoggedIn"
		routerLink="/chat/global"
		routerLinkActive #rla="routerLinkActive">
			<app-flat-button [isActive]="rla.isActive" color="white" bgColor="#a3d0dc" fontIcon="public"></app-flat-button>
		</li>
		<li *ngIf="userLoggedIn"
		routerLink="/profile"
		routerLinkActive #rla="routerLinkActive">
			<app-flat-button [isActive]="rla.isActive" color="white" bgColor="#a3d0dc" fontIcon="account_circle"></app-flat-button>
		</li>
		<li class="friend-menu">
			<app-flat-button (click)="displayFriendRequest = !displayFriendRequest" fontIcon="notifications" color="white" bgColor="#a7dca3">Menu</app-flat-button>
			<app-flat-list *ngIf="displayFriendRequest" [friends]="friendService.friend.friend_req"></app-flat-list>
		</li>
		<li
		*ngIf="userLoggedIn"
		(click)="SignOut()"
		class="logout">
			<app-flat-button color="white" bgColor="#ff9999" fontIcon="power_settings_new"></app-flat-button>
		</li>
	</ul>
</header>
