header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 50px;
	border-bottom: 3px solid;

	h1 {
		font-family: 'Maven Pro', sans-serif;
		font-size: 2.0em;
		color: black;
		background-color:  white;
		box-shadow: 5px 5px black;
		border: 3px solid black;
		padding: 7px 20px;
		margin: 0;
		animation: colorfull 1s infinite;
	}

	ul {
		display: flex;
		list-style: none;

		li.active button,
		li button:hover {
			transform: translate(3px, 3px);
			background-color: #81b1be;
			box-shadow: 0 0;
		}

		li {
			button {
				color: black;
				margin: 0 5px;
				border: 0;
				border-radius: 0px;
				cursor: pointer;
				background-color: #a3d0dc;
				border: 3px solid;
				height: 50px;
				aspect-ratio: 1;
				box-shadow: 3px 3px;
				
				mat-icon {
					color: #fffafa;
				}
			}
		}

		li.logout {
			button {
				background-color: #ffb1b1;
				margin-left: 20px;
	
				&:hover {
					background-color: #ff9999;
				}
			}
		}
	}
}


@keyframes colorfull {
	0%, 100% {
		background-color: red;
	}
	20% {
		background-color: orange;
	}
	40% {
		background-color: yellow;
	}
	60% {
		background-color: green;
	}
	80% {
		background-color: blue;
	}
}