<header>
	<h1 routerLink="/home">Transcendance</h1>
	<button ngClass="{{isExpand}}" (click)="isExpand = !isExpand" *ngIf="isSmallDevice()" class="expand-btn">
		<mat-icon fontIcon="expand_more"></mat-icon>
	</button>
	<ul (window:resize)="onResize()" [ngClass]="{'small-device': isSmallDevice(), 'expand': isExpand}" *ngIf="isExpand || !isSmallDevice()" [@enterAnimation]="isSmallDevice()">
		<li routerLink="/home"
			routerLinkActive #rla="routerLinkActive">
			<app-flat-button [isActive]="rla.isActive" fontIcon="home"></app-flat-button>
		</li>
		<li *ngIf="userLoggedIn"
			routerLink="/play"
			routerLinkActive #rla="routerLinkActive">
			<app-flat-button [isActive]="rla.isActive" fontIcon="games"></app-flat-button>
		</li>
		<li *ngIf="userLoggedIn"
		routerLink="/chat/dm"
		routerLinkActive #rla="routerLinkActive">
			<app-flat-button [isActive]="rla.isActive" fontIcon="message"></app-flat-button>
		</li>
		<li *ngIf="userLoggedIn"
		routerLink="/chat/global"
		routerLinkActive #rla="routerLinkActive">
			<app-flat-button [isActive]="rla.isActive" fontIcon="public"></app-flat-button>
		</li>
		<li *ngIf="userLoggedIn"
		routerLink="/profile"
		routerLinkActive #rla="routerLinkActive">
			<app-flat-button [isActive]="rla.isActive" fontIcon="account_circle"></app-flat-button>
		</li>
		<li class="notifications-menu" matBadge="{{notificationService.notif.length}}" [matBadgeHidden]="!notificationService.notif.length">
			<app-flat-button [isActive]="displayNotifications" class="notifications-btn" (click)="displayNotifications = !displayNotifications" fontIcon="notifications">Menu</app-flat-button>
			<app-flat-list class="glass" *ngIf="displayNotifications" [notifications]="notificationService.notif"></app-flat-list>
		</li>
		<li
		*ngIf="userLoggedIn"
		(click)="SignOut()"
		class="logout">
			<app-flat-button class="logout-btn" fontIcon="power_settings_new"></app-flat-button>
		</li>
	</ul>
</header>
