<ul appResizable>
    <li class="glass" *ngFor="let room of chatChannelService.getJoinedChannelRoom();">
        <button  (click)="onSelectRoom(room)">
            <span>{{chatRoomService.getRoomTitle(room)}}</span>
            <mat-icon fontIcon="settings" (click)="onModifyChatRoom(room)" ></mat-icon>
        </button>
    </li>
	<li class="newRoomBtn">
		<app-flat-button fontIcon="add" (click)="onNewRoom()"></app-flat-button>
	</li>
</ul>

<app-chat-view *ngIf="chatChannelService.isGoodSelectedRoom()" [room]="chatChannelService.getSelectedRoom()" (sendMessageEmitter)="chatChannelService.sendMessage($event)">
</app-chat-view>
