:host {
	display: flex;
	height: 100%;
	gap: 0.75em;
}

ul {
	height: 100%;
	max-width: 50%;
	min-width: fit-content;
	position: relative;

	li {
		width: 100%;
		margin-bottom: 0.8em;
		transition: all 0.2s linear;

		button {
			width: 100%;
			font-size: 1em;
			color: white;
			cursor: pointer;
			padding: 0 1em;
			text-align: left;
			height: 3em;
			&:active {
				color: rgb(186, 186, 186);
			}
			background: transparent;
			border: none;
		}

		&:not(.newRoomBtn) &:hover
		{
			background-color: rgba(90, 90, 90, 0.6);
		}

		&:nth-last-child(2) {
			margin-bottom: 2em;
		}

		&.newRoomBtn {
			width: 100%;
            z-index: 1;

			& app-flat-button {
				display: block;
				position: relative;
				text-align: center;
				font-size: 1em;
				padding: 0;
				--bg-color: 167, 220, 163;
				width: 100%;
			}
		}
	}
}

app-chat-view {
	flex: auto;
	min-width: 20%;
}
