<div *ngIf="userService.isGoodUser(user_info); else userNotFound" class="ticket">
	<img [src]="user_info.picture || 'assets/img/avatar-placeholder.jpg'" alt="user picture" />
	<h1 class="login">{{user_info.ftLogin}}</h1>
	<div class="personal_data">
		<div class="line">
			<span>nickname:</span>
			<span>{{user_info.nickname}}</span>
		</div>
		<div class="line">
			<span>email:</span>
			<span>{{user_info.email ? user_info.email : '/'}}</span>
		</div>
		<div class="line">
			<span>lastSeen:</span>
			<span>{{user_info.lastSeen | date: 'dd/MM/YYYY HH:mm:ss'}}</span>
		</div>
	</div>
	<app-flat-button *ngIf="!friendService.alreadyFriend(user_info.id)"
		class="friend-btn" bgColor="#a3d0dc" [fontIcon]="friendService.alreadySend(user_info.id)?'done':'person_add'"
		color="white" (click)="sendFriendRequest(user_info.id)"
		[isActive]="friendService.alreadySend(user_info.id)">
	</app-flat-button>
</div>
<app-flat-button class="refresh" bgColor="#ffb1b1" fontIcon="refresh" (click)="onGetInfo()"></app-flat-button>

<ng-template #userNotFound>
	<h1>User Not Found</h1>
</ng-template>
