<form [formGroup]="newRoomForm">
	<input class="glass" id="name" type="text" formControlName="name" required placeholder="Untitled" maxlength="120" autofocus>
	<input class="glass" [ngClass]="{'disabled': newRoomForm.value.isPrivate === true}" maxlength="120" id="password" type="password" formControlName="password" placeholder="Password">
	<div class="toggle-container">
		<label for="private"><mat-icon fontIcon="mail_lock"></mat-icon></label>
		<input class="toggle-btn" name="private" type="checkbox" formControlName="isPrivate">
	</div>
	<div class="btn-container">
		<button class="submit-btn"
		(click)="onCreate()"
		[disabled]="!newRoomForm.valid"
		>
			<div class="icon-container save">
				<mat-icon fontIcon="chevron_right"></mat-icon>
			</div>
			<div class="icon-container close">
				<mat-icon fontIcon="close"></mat-icon>
			</div>
		</button>
		<button class="add-friend-btn" (click)="addFriends()">
			<mat-icon fontIcon="forward_to_inbox"></mat-icon>
		</button>
	</div>
</form>
