<form [formGroup]="newRoomForm">
	<input class="glass" id="name" type="text" formControlName="name" required placeholder="Untitled" maxlength="120" autofocus>
	<input class="glass" [ngClass]="{'disabled': newRoomForm.value.isPrivate === true}" id="password" type="password" formControlName="password" placeholder="Password">
	<div class="toggle-container">
		<input class="toggle" name="private" type="checkbox" formControlName="isPrivate">
		<label for="private"><mat-icon fontIcon="mail_lock"></mat-icon></label>
	</div>
	<button (click)="onCreate()" [disabled]="!newRoomForm.valid">Submit</button>
	<button>Add Friend</button>
</form>
