.win{
    color: #4CAF50;
}

.lose{
    color: #f44336;
}

.draw{
    color: #ff9800;
}

mat-cell, mat-header-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-column-game{
    flex: 0 0 10%;
    align-content: center;
 }
 
 .mat-column-score{
    flex: 0 0 25%;
    align-content: center;
 }
 
 .mat-column-opponent{
    flex: 0 0 35%;
    align-content: center;
 }
 
 .mat-column-date{
    flex: 0 0 30%;
    align-content: center;
 }