<div class="side-bar">
	<div *ngIf="popupType === 'create-join'" class="popup-create-join">
		<button class="close" (click)="onClosePopup()">
			<mat-icon fontIcon="close"></mat-icon>
		</button>
		<div class="room-create-join">
			<div class="room-create">
				<form [formGroup]="roomCreateForm">
					<mat-card-content>
						<mat-form-field>
							<input
							type="text"
							matInput
							formControlName="roomName"
							placeholder="Room name"
							[required]="true"
						/>
						</mat-form-field>
						<br>
						<mat-form-field>
							<input
							type="password"
							matInput
							formControlName="password"
							placeholder="Room password"
						/>
						</mat-form-field>
						<br>
						<mat-card-actions>
							<div class="buttoncontainer">
								<button
									mat-raised-button
									color="primary"
									(click)="onClearCreateDetails()"
									[disabled]="!roomCreateForm.dirty"
								>
									Clear
								</button>
							</div>
						</mat-card-actions>
					</mat-card-content>
				</form>
				<br><br><br>
				<form [formGroup]="roomCreateFriends">
					<mat-form-field style="width: 80%; margin: 10px;">
						<mat-label>Selected Friend</mat-label>
						<mat-select multiple formControlName="user">
							<mat-option *ngFor="let friend of chatDmService.getFriends()" [value]="friend.user_info">
							{{userService.getUserInfoFormated(friend.user_info)}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<br>
					<p *ngFor="let user of getCreateFriendUser();">{{user.ftLogin}}</p>
					<mat-card-actions>
						<div class="buttoncontainer">
							<button
								mat-raised-button
								color="primary"
								(click)="onClearFriend()"
								[disabled]="!roomCreateFriends.dirty"
							>
								Clear
							</button>
						</div>
					</mat-card-actions>
				</form>
				<br><br><br>
				<div class="room-create-button">
					<mat-card-actions>
						<div class="buttoncontainer">
							<button
								mat-raised-button
								color="primary"
								(click)="onCreate()"
								[disabled]="!roomCreateForm.valid"
							>
								Create
							</button>
						</div>
						<div class="buttoncontainer">
							<button
								mat-raised-button
								color="primary"
								(click)="onClearCreate()"
								[disabled]="!roomCreateForm.dirty && !roomCreateFriends.dirty"
							>
								Clear
							</button>
						</div>
					</mat-card-actions>
				</div>
			</div>
			<div class="room-join">
				<mat-form-field style="margin: 10px">
					<mat-label>Selected Room</mat-label>
					<mat-select [(ngModel)]="joinSelectedRoom" name="room">
						<mat-option value="-1">None</mat-option>
						<mat-option *ngFor="let room of chatChannelService.getAvailableChannelRoom()" [value]="room.id">
						{{chatRoomService.getRoomTitle(room)}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<div *ngIf="getJoinSelected().id !== -1">
					<div *ngIf="getJoinSelected().type === 2">
						<form [formGroup]="roomJoinPrivateForm">
							<mat-form-field>
								<input
								type="password"
								matInput
								formControlName="password"
								placeholder="Room Password"
								[required]="true"
							/>
							</mat-form-field>
							<mat-card-actions>
								<div class="buttoncontainer">
									<button
										mat-raised-button
										color="primary"
										(click)="onJoin();"
										[disabled]="!roomJoinPrivateForm.valid"
									>
										Join
									</button>
								</div>
							</mat-card-actions>
							<mat-card-actions>
								<div class="buttoncontainer">
									<button
										mat-raised-button
										color="primary"
										(click)="onClearJoin()"
										[disabled]="!roomJoinPrivateForm.dirty"
									>
										Clear
									</button>
								</div>
							</mat-card-actions>
						</form>
					</div>
					<div *ngIf="getJoinSelected().type === 1">
						<mat-card-actions>
							<div class="buttoncontainer">
								<button
									mat-raised-button
									color="primary"
									(click)="onJoin()"
								>
									Join
								</button>
							</div>
						</mat-card-actions>
					</div>
					<br><br><br>
					<div class="room-join-info" *ngIf="getJoinSelected().id !== -1">
						<h4>ROOM INFO</h4>
						<p>ID   : {{getJoinSelected().id}}</p>
						<p>NAME : {{getJoinSelected().name}}</p>
						<p>TYPE : {{chatRoomService .getRoomTypeStr(getJoinSelected())}}</p>
						<p>OWNER : {{chatChannelService.getOwner().ftLogin }}</p>
						<p>ADMIN :</p>
						<p *ngFor="let user of chatChannelService.getAdmin()">- {{user.ftLogin}}</p>
					</div>
					<div class="room-join-user" *ngIf="getJoinSelected().id !== -1">
						<h4>USERS ({{getJoinUser().length}}/40)</h4>
						<p *ngFor="let user of getJoinUser()">{{user.ftLogin}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="popupType === 'management'" class="popup-management">
		<button class="close" (click)="onClosePopup()">
			<mat-icon fontIcon="close"></mat-icon>
		</button>
		<div class="room-management">
			<div class="room-management-detail">
				<form [formGroup]="roomManagementDetails">
					<mat-card-content>
						<mat-form-field>
							<input
							type="text"
							matInput
							formControlName="name"
							placeholder="Room name"
						/>
						</mat-form-field>
						<br>
						<mat-form-field>
							<input
							type="password"
							matInput
							formControlName="password"
							placeholder="Room password"
						/>
						</mat-form-field>
						<br>
						<div class="button-row">
							<mat-card-actions>
								<button
									mat-raised-button
									color="primary"
									(click)="onClearManagementDetails()"
									[disabled]="!roomManagementDetails.dirty"
								>
									Clear
								</button>
							</mat-card-actions>
							<mat-card-actions>
								<button
									mat-raised-button
									color="primary"
									(click)="onChangeRoomDetails()"
									[disabled]="!canChangeRoomDetails() || !roomManagementDetails.dirty"
								>
									Change
								</button>
							</mat-card-actions>
							<mat-slide-toggle
								formControlName="remove_pass"
								[disabled]="chatChannelService.getSelectedRoom().type !== 2">
								Remove pass
							</mat-slide-toggle>
						</div>
					</mat-card-content>
				</form>
				<form [formGroup]="roomManagementUser">
					<mat-form-field style="width: 80%; margin: 10px;">
						<mat-label>Selected Friend</mat-label>
						<mat-select multiple formControlName="user">
							<mat-option *ngFor="let friend of getManagementAddUser()" [value]="friend">
							{{userService.getUserInfoFormated(friend)}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<br>
					<p *ngFor="let user of roomManagementUser.value?.user;">{{user.ftLogin}}</p>
					<mat-card-actions>
						<div class="buttoncontainer">
							<button
								mat-raised-button
								color="primary"
								(click)="onClearManagementUser()"
								[disabled]="!roomManagementUser.value?.user?.length"
							>
								Clear
							</button>
						</div>
					</mat-card-actions>
					<mat-card-actions>
						<div class="buttoncontainer">
							<button
								mat-raised-button
								color="primary"
								(click)="onAddUser()"
								[disabled]="!roomManagementUser.value?.user?.length"
							>
								Add
							</button>
						</div>
					</mat-card-actions>
				</form>
			</div>
			<div class="room-management-user">
				<div *ngIf="chatChannelService.getSelectedRoom().id !== -1">
					<h4>ROOM INFO</h4>
				</div>
				<button mat-raised-button color="warn"
					(click)="onLeave()">
					LEAVE
				</button>
				<div>
					<p>ID    : {{chatChannelService.getSelectedRoom().id}}</p>
					<p>NAME  : {{chatChannelService.getSelectedRoom().name}}</p>
					<p>TYPE  : {{chatRoomService .getRoomTypeStr(chatChannelService.getSelectedRoom())}}</p>
					<p>OWNER : {{chatChannelService.getOwner().ftLogin }}</p>
					<p>ADMIN :</p>
					<p *ngFor="let user of chatChannelService.getAdmin()">- {{user.ftLogin}}</p>
				</div>
				<div *ngIf="chatChannelService.getSelectedRoom().id !== -1">
					<h4>USERS ({{chatChannelService.getSelectedRoomUser().length}}/40)</h4>
					<div *ngFor="let user of chatChannelService.getSelectedRoomUser()">
						{{user.ftLogin}} ({{user.nickname}})
						<div class="button-row">
							<button mat-raised-button color="warn"
								(click)="onKickUser(user)"
								[disabled]="!canKickUser(user)">
								KICK
							</button>
							<button mat-raised-button color="warn"
								(click)="onBanUser(user)"
								[disabled]="!canBanUser(user)">
								BAN
							</button>
							<button mat-raised-button color="warn"
								(click)="onMuteUser(user)"
								[disabled]="!canMuteUser(user)">
								MUTE
							</button>
							<button mat-raised-button color="primary"
								(click)="onPromoteUser(user)"
								[disabled]="!canPromoteUser()">
								PROMOTE
							</button>
							<button mat-raised-button color="primary"
								(click)="onGiveKrownUser(user)"
								[disabled]="!canGiveKrownUser()">
								GIVE OWNERSHIP
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ul class="room-list">
		<li *ngFor="let room of chatChannelService.getJoinedChannelRoom();">
			<button (click)="onSelectRoom(room)">{{chatRoomService.getRoomTitle(room)}}</button>
		</li>
	</ul>
	<app-flat-button bgColor="#a7dca3" fontIcon="add" (click)="onCreatingRoom()"></app-flat-button>
</div>
<div *ngIf="chatChannelService.isGoodSelectedRoom()" class="chat-container">
	<h2 [routerLink]="" (click)="onOpenManagement()">{{chatChannelService.getRoomTitle()}}</h2>
	<ol class="msg-list">
		<li *ngFor="let _ of chatChannelService.getSelectedRoom().message; let i=index;" [ngClass]="{'me': chatChannelService.getCurrentMessage(i).userId === userService.user.id, 'same': chatChannelService.isSameUser(i)}">
			<div class="title-line">
				<span class="date" *ngIf="!isFollowingDay(i)">{{chatChannelService.getCurrentMessage(i).updateAt | date: 'dd/MM/YYYY'}}</span>
				<span class="login" *ngIf="!chatChannelService.isSameUser(i)">{{chatChannelService.getCurrentMessageUser(i).ftLogin}}</span>
			</div>
			<div class="msg-line">
				<span class="content">{{chatChannelService.getCurrentMessage(i).content}}</span>
				<span class="time">{{chatChannelService.getCurrentMessage(i).updateAt | date: 'HH:mm'}}</span>
			</div>
		</li>
	</ol>
	<div class="txt-bar">
		<input [(ngModel)]="message" type="text" placeholder="Enter a message..." (keypress)="onPress($event)">
		<button (click)="sendMessage()">
			<mat-icon fontIcon="send"></mat-icon>
		</button>
	</div>
</div>
