<form class="glass" *ngIf="userForm" [formGroup]="userForm" [ngClass]="{'invalid-nickname': invalidNickname}">
	<div class="row">
		<div class="avatarcontainer">
			<app-avatar formControlName="picture"></app-avatar>
		</div>
		<span>{{userForm.value.nickname}}</span>
	</div>
	<div class="container">
		<input class="login"
		type="text"
		formControlName="login"
		/>
		<input class="nickname"
		type="text"
		maxlength="32"
		minlength="3"
		formControlName="nickname"
		placeholder="Nickname"
		[required]="true"
		/>
		<input
		type="email"
		formControlName="email"
		placeholder="Email"

		/>

		<div class="twofacontainer">
			<label for="a2f" style="margin-right: 10px;">TwoFA</label>
			<input id="twofa" (click)="setupTwoFa()" type="checkbox" name="a2f" [checked]="userForm.value.twofa">
		</div>

		<button class="submit-btn"
			(click)="onSubmit()"
			[disabled]="!userForm.valid || submitted || invalidNickname"
			[ngClass]="{'submitted-class': submitted}"
			>
			<!-- style="width:25%" -->
			<div class="icon-container save">
				<mat-icon fontIcon="save"></mat-icon>
			</div>
			<div class="icon-container close">
				<mat-icon fontIcon="close"></mat-icon>
			</div>
			<div class="icon-container check">
				<mat-icon fontIcon="check"></mat-icon>
			</div>
		</button>
	</div>
</form>
