<form [ngClass]="{'invalid-nickname': error}" *ngIf="userForm" [formGroup]="userForm" [@enterAnimation]="!submitted ? 'open' : 'closed'">
	<input
		(keydown.space)="$event.preventDefault();"
		[@input]="!submitted ? 'open' : 'closed'"
		autofocus
		formControlName="nickname" placeholder="Nickname" [(ngModel)]="userService.user.nickname"
		name="nickname" minlength="3" maxlength="32" required>
	<button [@button]="!submitted ? 'open' : 'closed'" [ngClass]="{'check': submitted}" (click)="onSubmit()" [disabled]="!userForm.valid || error ">
	</button>
	<span class="invalid-nickname" *ngIf="error">{{invalidNickname}}</span>
</form>

