:host {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	position: absolute;
}

mat-grid-list {
	flex: 1;
	height: auto;
}

.dashboard-card {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.more-button {
	position: absolute;
	top: 5px;
	right: 10px;
}

.dashboard-card-content {
	text-align: center;
	height: 100%;
}

h1 {
	color: white;
}