<h1 class="mat-h1">Dashboard</h1>
<mat-grid-list class="leaderboard-mat-cards" cols="3" rowHeight="fit" colsWidth="33%" gutterSize="30px">
	<mat-grid-tile *ngIf="leaderboard" class="leaderboard" [colspan]="leaderboard.cols" [rowspan]="leaderboard.rows">
		<mat-card class="dashboard-card">
			<mat-card-header>
				<mat-card-title>
					Leaderboard
					<button mat-icon-button class="refresh-button" aria-label="refresh" (click)="refLeaderboard()">
						<mat-icon>refresh</mat-icon>
					</button>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content class="dashboard-card-content">
				<mat-table [dataSource]="leaderboard.content" matSort>
					<ng-container matColumnDef="rank">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Rank </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.rank}} </mat-cell>
					</ng-container>
					<ng-container  matColumnDef="nickname">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Nickname </mat-header-cell>
						<mat-cell *matCellDef="let element">
							<div class="leaderboard-profile-tooltip">
								<span appTooltip [user]="DefUserI" [nickname]="element.nickname"> {{element.nickname}} </span>
							</div>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="elo">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Elo </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.elo}} </mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="['rank', 'nickname', 'elo']"></mat-header-row>
					<mat-row *matRowDef="let row; columns: ['rank', 'nickname', 'elo'];"></mat-row>
				</mat-table>
			</mat-card-content>
		</mat-card>
	</mat-grid-tile>
	<mat-grid-tile *ngIf="onlineusers" class="onlineusers" [colspan]="onlineusers.cols" [rowspan]="onlineusers.rows">
		<mat-card class="dashboard-card">
			<mat-card-header>
				<mat-card-title>
					Online Users
					<button mat-icon-button class="refresh-button" aria-label="refresh" (click)="refOnline()">
						<mat-icon>refresh</mat-icon>
					</button>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content class="dashboard-card-content">
				<mat-table [dataSource]="onlineusers.content" matSort>
					<ng-container matColumnDef="avatar">
						<mat-header-cell *matHeaderCellDef> Avatar </mat-header-cell>
						<mat-cell *matCellDef="let element">
							<img appTooltip [user]="element" [src]="element.picture || '/assets/img/avatar-placeholder.jpg'" alt="avatar" class="avatar">
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="nickname">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Nickname </mat-header-cell>
						<mat-cell *matCellDef="let element">
							<div class="leaderboard-profile-tooltip">
								<span appTooltip [user]="DefUserI" [nickname]="element.nickname"> {{element.nickname}} </span>
							</div>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="lastseen">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Last Seen </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.lastSeen | date:"shortTime"}} </mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="['avatar', 'nickname', 'lastseen']"></mat-header-row>
					<mat-row *matRowDef="let row; columns: ['avatar', 'nickname', 'lastseen'];"></mat-row>
				</mat-table>
			</mat-card-content>
		</mat-card>
	</mat-grid-tile>
	<mat-grid-tile *ngIf="global" class="global" [colspan]="global.cols" [rowspan]="global.rows">
		<mat-card class="dashboard-card">
			<mat-card-header>
				<mat-card-title>
					Global Chatroom
				</mat-card-title>
			</mat-card-header>
			<mat-card-content class="dashboard-card-content">
				<app-chat-page></app-chat-page>
			</mat-card-content>
		</mat-card>
	</mat-grid-tile>
	<mat-grid-tile *ngIf="private" class="private" [colspan]="private.cols" [rowspan]="private.rows">
		<mat-card class="dashboard-card">
			<mat-card-header>
				<mat-card-title>
					DM Chatroom
				</mat-card-title>
			</mat-card-header>
			<mat-card-content class="dashboard-card-content">
				<app-priv-chat-page></app-priv-chat-page>
			</mat-card-content>
		</mat-card>
	</mat-grid-tile>
</mat-grid-list>
