:host {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	position: absolute;
}

mat-grid-list {
	flex: 1;
	height: auto;
}

mat-grid-tile {
	height: 100%;
	color: white;
}

.dashboard-card {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.refresh-button {
	position: absolute;
	top: 5px;
	right: 10px;
}

.dashboard-card-content {
	text-align: center;
	height: 100%;
}


.mat-footer-row,
.mat-header-row,
.mat-row {
    display: inline-flex;
    min-width: 100%;
}

.mat-column-avatar{
	max-width: 90px;
	padding-right: 24px;
	.avatar{
		width: 40px;
		height: 40px;
	}
}

mat-cell.cdk-column-avatar{
	border-right: 1px solid currentColor;
}

h1 {
	color: white;
}

app-priv-chat-page, app-chat-page {
	font-size: 0.5em;
}
