<div class='container'>
  <mat-card>
      <mat-card-header>
          <mat-card-title>Pong</mat-card-title>
          <mat-card-subtitle>best game ever</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          wat ya wana do son?
      </mat-card-content>
      <mat-card-actions>
          <button mat-button (click)="onAction1">Action1</button>
          <button mat-button (click)="onAction2">Action2</button>
          <button mat-button (click)="onAction3">Action3</button>
      </mat-card-actions>
      <mat-card-footer>
          Footer
      </mat-card-footer>
  </mat-card>
</div>